.DS_Store
Assets
sitemap.xml
*/.DS_Store
node_modules
package-lock.json
*.swp
mongo-data
*.backup
private
public/libs
*.log
Photos
images
smallImages
thumbnails
FullsizePhotos
fullsizePhotos
*.HEIC
*.jpeg
*.JPG
*.JPEG
*.jpg
*.mov
*.MOV
*.tif
*.tiff
*.m4v
*.3gp
ApplePayCertificates
LocalhostCertificates
StripeSecrets
sendgrid.env
playground
.well-known
*.ejs.html
mongo-backup
config
