<div class="">
<div class="row m-0 p-0 _align-items-stretch">

<div class="col-12 m-0 p-0">
    <div class="center equipment"><%- include('../SVG/steamroller.ejs', {}) %></div>
</div>

<div class="col-12 m-0 p-0">
    <div class="center serviceTitle">Asphalt &amp; Paving</div>
</div>

<div class="col-12 m-0 p-0">
    <div class="center serviceItem">Adipiscing diam donec</div>
</div><div class="col-12 m-0 p-0">
    <div class="center serviceItem">Vulputate sapien</div>
</div>

</div>
</div>
