<div class="">
<div class="row m-0 p-0">

<div class="col-12 m-0 p-0">
    <div class="center equipment"><%- include('../SVG/cement-truck.ejs', {}) %></div>
</div>

<div class="col-12 m-0 p-0">
    <div class="center serviceTitle">Cement</div>
</div>

<div class="col-12 m-0 p-0">
    <div class="center serviceItem">Mattis pellentesque</div>
</div><div class="col-12 m-0 p-0">
    <div class="center serviceItem">Volutpat est</div>
</div>

</div>
</div>
