<div class="row p-0 m-0 d-flex justify-content-center contentRow">

<div class="col-12 col-md-9 m-0 p-2 p-md-0 mobileJustification text-md-start">
    <div class="contentHeader">
	Word of Mouth Means Everything
    </div>
</div><div class="col-12 col-md-9 m-0 p-2 p-md-0 mobileJustification text-md-start">
    <div class="contentText">
	JP Paving & Grading does very little marketing. Instead, we rely on
	word of mouth and repeat business. Relationships are more important to
	us than profit. We do what we say, and say what we do. Our goal is to
	earn our customers’ faith, make them happy, and keep them as customers
	forever.
    </div>
    <br />
    <div class="contentText">
	Picky customers? We welcome them. Unusual requests? Bring them on. We
	love challenges and giving you options. We view every project as
	unique – no single approach fits everyone. We study the conditions of
	your job site, the soil, the climate, the materials. We understand how
	all these variables factor into a successful solution.
    </div>
</div>
</div>

</div>

