<div class="row p-0 m-0 d-flex justify-content-center contentRow">

<div class="col-12 col-md-10 m-0 p-2 p-md-0">
    <div class="contentHeader">
	Hard work. Honestly. Loyalty.<br />
        This is what defines JP Paving &amp; Grading.
    </div>

</div><div class="col-12 col-md-10 m-0 p-2 p-md-0">
    <div class="contentText">
	Founded in 1998, we are a small business with a big heart. Many of our
	employees have been with us for years, even decades. Because we
	educate them on the latest materials and techniques, treat them well,
	and recognize their contributions.
    </div>
    <br />
    <div class="contentText">
	There’s a value to an average employee tenure of 15 years:
	Consistency. Our people know our processes inside and out and have
	worked together on countless commercial and residential paving
	projects. This provides institutional knowledge and experience that
	delivers unmatched quality.
    </div>
</div>
</div>
</div>
