<div class="row p-0 m-0 d-flex justify-content-center contentRow bgLightGrey">

<div class="col-12 col-md-11 m-0 p-2 p-md-0">
<div class="row m-0 p-0 d-flex align-items-center justify-content-around">

    <div class="col ps-4 text-center">
	<%- include("../../SVG/fakeMinorityBadge.ejs", {fillColor}); %>
    </div><div class="col-12 col-md-9 m-0 p-0 text-center text-md-start">
	<div class="contentHeader">
	    Proudly Minority-Owned
	</div>
	<div class="contentText">
	    We’re one of the rare large-scale project contractors that is minority
	    owned (and women owned, as well). We’re certified as minority owned
	    (DBE), which makes us a perfect choice for public and municipal
	    projects that require set-aside engagement.
	</div>
	    <br />
	<div class="contentText">
	    We incentivize our employees with profit sharing, full health benefits
	    and retirement savings, and we maintain solid relationships with our
	    lenders.
	</div>
    </div>
</div>
</div>

</div>
