<div class="row p-0 m-0 d-flex justify-content-center contentRow bgLightGrey">

<div class="col-12 col-md-11 m-0 p-2 p-md-2">
    <div class="contentHeader">
	Meet Our Team
    </div>
</div><div class="col-12 col-md-11 m-0 p-2 p-md-2">
    <div class="row d-flex justify-content-around align-items-stretch p-0 m-0">
    <% employees.forEach((emp, empIndex) => { %>
	<!-- Employee card -->
	<div class="d-flex flex-column profileEditCard col-12 col-md-6 col-lg-3
	    m-0 p-0 mx-md-1 my-2 p-3 <%if (emp.firstname==='FAKE'){%>invisible <%}%>" >

	    <div class="row d-flex justify-content-center">
	    <div class="col-8 d-flex justify-content-center m-0 p-0 p-2 my-2">
		<img class="img-fluid m-0 p-0 userThumbnailFullSize center"
		    src='/employee/<%= emp._id %>/avatar' >
	    </div>
	    <div class="col-12 d-flex justify-content-center m-0 p-0 my-2">
		<span class="name"><%=emp.firstname%> <%=emp.lastname%></span>
	    </div>
	    <div class="col-12 d-flex justify-content-center p-0 m-0 mt-2 ">
		<p class="preserveWhiteSpace p-3"><%= emp.bio %></p>
	    </div>
	    </div>
	</div>

    <% }); %>
    </div>
</div>  

</div>
