<div class="row p-0 m-0 d-flex justify-content-center contentRow bgLightGrey">

<div class="col-12 mobileJustification text-md-start col-md-9 m-0 p-2 p-md-0">
    <div class="contentHeader">
	The Value of Communication
    </div>
</div>
<div class="col-12 col-md-8 d-flex justify-content-center text-md-start m-0 p-2 p-md-0">
    <div class="contentText">
	JP Paving believes in clear and consistent communication with our
	customers. We take the time to align proposals with client needs and
	expectations. We take as much time as you need to explain our process,
	timelines, and expertise. If we see challenges in a client request, we
	provide candid, constructive feedback to make sure you achieve
	success. Because success is in the details.  
    </div>
</div>
</div>
