<div class="flyer m-0 my-2 p-2">

<section id="about">
<div class="titleTagline d-flex justify-content-center">
    <%- include ('../../partials/right.ejs', {fillColor: "var(--theme-color-denim)"}); %>
    <span class="HRSS_ss04">&nbsp;About Us&nbsp;</span>
    <%- include ('../../partials/left.ejs', {fillColor: "var(--theme-color-denim)"}); %>
    </div>
<hr />

<div class="row p-0 my-4 d-flex justify-content-center">
<div class="col-11 m-0 p-0">
    <div class="headline">
        Two girls: 1, old man: 0
    </div>
</div>
</div>

</section> <!-- About -->
</div>

