<div id="contactUsMessage" class="alert alert-secondary flashAlert contactUsAlert 
text-center" role="alert"><%= message %></div>

<script type="text/javascript">
    $("#contactUsMessage").delay(2000).fadeOut('fast');
</script>
