/*
 * footer
 */
#footer {
    background: var(--footer-background);
    font: var(--footer-font) !important;
    clear: both;
    padding: 1rem 0.5rem;
    margin: 0;
    border-top: 1px solid var(--medium-grey9);
}

#footer a:link, #footer a:visited, #footer a:active {
    color: var(--visited-color);
    text-decoration: none;
}

#footer a:hover, #footer a:focus {
    color: var(--hover-color);
    text-decoration: underline;
}

#copyright {
    color: var(--copyright-color);
    font: var(--footer-font) !important;
}

