<section id="discover">

<div class="sectionTitle d-flex justify-content-center justify-content-md-start">
    <span class="HRSS_ss05">Discover Dry Farm Ranch</span></div>
<hr />

<p>
    Nestled in the heart of Wyoming’s rugged and breathtaking landscape,
    Dry Farm Ranch offers 160 acres of untouched, rectangular land primed
    for visionary development. Located in Washakie County, this expansive
    parcel combines seclusion with accessibility, making it an ideal
    canvas for either a luxury residential community or a world-class
    boutique hotel. With sweeping views of rolling plains and distant
    mountain ranges, Dry Farm Ranch is a rare opportunity to create an
    exclusive destination for discerning buyers or guests.  
</p>

<h5>Key Features</h5>

<section class="section keyFeatures"> <!-- Key Features -->
<section class="section my-3"> <!-- Why DFR -->

<div class="row py-2 mx-0">
<div class="col-4 col-lg-3 fw-bold text-end">Size &amp; Layout</div>
<div class="col col-lg-7">
160 acres of flat, developable land in a rectangular
configuration, ideal for flexible development &amp; master planning layouts
</div>
</div>

<div class="row py-2 mx-0">
<div class="col-4 col-lg-3 fw-bold text-end">Location</div>
<div class="col">
    Centrally located in Wyoming’s Bighorn Basin at
    [43.74208°, -107.21046°] in Washakie County, Wyoming, ensuring privacy
    yet proximity and accessibility to Wyoming’s natural wonders:<br />
    <ul><li>
	30 miles from Worland, WY, with regional airport access<br />
    </li><li>
	90 miles from Cody, WY, gateway to Yellowstone National Park<br />
    </li><li>
	120 miles from Casper, WY, with commercial air service<br />
    </li></ul>
</div>
</div>

<div class="row py-2 mx-0">
<div class="col-4 col-lg-3 fw-bold text-end">Topography &amp; Natural Beauty</div>
<div class="col">
    Panoramic views of the Bighorn Mountains, open prairies, gently
    rolling terrain, and dramatic sunsets, perfect for creating a
    signature aesthetic home sites or a sprawling resort campus
</div>
</div>

<div class="row py-2 mx-0">
<div class="col-4 col-lg-3 fw-bold text-end">Exclusivity</div>
<div class="col">A blank slate in an unspoiled region, ideal for
    high-end, low-density projects</div>
</div>

<div class="row py-2 mx-0">
<div class="col-4 col-lg-3 fw-bold text-end">Zoning &amp; Utilities</div>
<div class="col">
    <ul><li>
	Zoned for residential and commercial use, supporting diverse development options<br />
    </li><li>
	Access to groundwater wells and potential for solar energy integration<br />
    </li></ul>
</div>
</div>

<div class="row py-2 mx-0">
<div class="col-4 col-lg-3 fw-bold text-end">Climate</div>
<div class="col">
Four distinct seasons with mild summers and crisp winters, appealing
to year-round residents and seasonal visitors
</div>
</div>

<div class="row py-2 mx-0">
<div class="col-4 col-lg-3 fw-bold text-end">Wildlife &amp; Recreation</div>
<div class="col">
Abundant antelope, deer, and sage grouse, with opportunities for
hunting, hiking, and other outdoor pursuits
</div>
</div>

<div class="row py-2 mx-0">
<div class="col-4 col-lg-3 fw-bold text-end">Domain</div>
<div class="col">Ownership of dryfarmranch.com for instant brand
    recognition and marketing</div>
</div>

</section> <!-- Why DFR -->
</section> <!-- Key Features -->
</section> <!-- Discover -->
