
<section id="questions">
<div class="titleTagline d-flex justify-content-center">
    <%- include ('../../partials/right.ejs', {fillColor: "var(--theme-color-denim)"}); %>
    <span class="HRSS_ss04">&nbsp;QUestions&nbsp;</span>
    <%- include ('../../partials/left.ejs', {fillColor: "var(--theme-color-denim)"}); %>
    </div>
<hr />

<ul>
<li>Is anything accurate?! 🤪
</li><li>What other activities are there? Fishing, horseback riding?
</li><li>How close is skiing?
</li><li>Need to confirm distances, airport allegations
</li><li>Links to city & county permitting sites
</li><li>How easy is to subdivide? (Link)
</li>
</ul>
</section> <!-- Questions -->

