<div class="row my-2 d-lg-flex align-items-center justify-content-center">
<div class="soon col col-lg-10 logoText d-flex align-items-start justify-content-center ">
    <span class="HRSS_ss04">SOON</span>
</div>
</div>

<div class="row justify-content-center mt-3">
<div class="col-12 col-sm-8 col-md-6">
    <form id="loginForm" action="/saveDemoCookie" method="POST">
    <div class="form-group">
    <input class="form-control mt-3" type="hidden" name="username" value="demo@digitalpaso.com">
    </div><div class="form-group">
    <input class="form-control mt-3" type="password" name="secret" autofocus
        placeholder="password">
    </div>
    </form>
    <div class="d-flex justify-content-between align-items-center">
        <div class="col">
        </div><div class="col my-3 d-flex justify-content-end">
            <button form="loginForm" class="btn btn-secondary right">Login</button>
        </div>
    </div>
</div>
</div>
