<div class="row my-2 d-lg-flex align-items-center justify-content-center">
<div class="soon col col-lg-10 logoText d-flex align-items-start justify-content-center ">
    <span class="HRSS_ss04">SOON</span>
</div>
</div>
