<div id="footer">
<span id="copyright">All images and content Copyright &copy; 2023 -
<script type="text/javascript">document.write (moment(moment().valueOf()).format('YYYY'));</script>
dryfarmranch.com.&nbsp; All Rights Reserved.
Designed and maintained by <a href="http://digitalpaso.com" target="_blank">Digital Paso</a>
</span>
</div>              <!-- footer -->

