<!-- Copyright 2020 DigitalPaso LLC -->
<%if (locals.pageTitle === undefined) locals.pageTitle = 'Dan & Assana'; %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="" />
<meta property="og:image" content="/feed/<%=locals.dirName%>/images/<%=locals.thumbnail%>" />
<title><%=locals.pageTitle%></title>

<link rel="icon" type="image/png" href="/favicon.png">
<link rel="apple-touch-icon" sizes="32x32"   href="/assets/icons/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="167x167" href="/assets/icons/touch-icon-ipad-retina.png">

<link rel="stylesheet" href="/libs/bootstrap-4.6.0-dist/css/bootstrap.min.css" >
<link rel="stylesheet" href="/styles/utilities.css">
<link rel="stylesheet" href="/styles/main.css">
<script type="text/javascript" src="/libs/js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script type="text/javascript" src="/libs/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/js/moment.js"></script>
<script type="text/javascript" src="/libs/livephotoskit/livephotoskit-Web.js"></script>

<script type="text/javascript" src="/scripts/utils.js"></script>


