<div class="row align-items-center makeRoomForAlert">
    <div class="col-12 d-flex justify-content-center m-0 p-0">
	<%- include(`../SVG/logo.svg`, {scale:0.4}) %>
    </div><div class="col-12 d-flex justify-content-center m-0 p-0">
        <div class="logo jpp text-center ">JP Paving</div>
    </div>
</div>
