<%- include ('analytics.ejs'); %>

<nav id="mainNavBar" class="navbar sticky-top m-0 pb-2 navbar-expand-md navbar-light bg-light">
<div class="container-fluid">

<button id="hamburger" class="pb-2 navbar-toggler type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Mobile navigation -->
<div id="" class="d-md-none d-flex flex-row flex-md-nowrap flex-wrap">
    <div class="nav-link p-0 m-0 me-2 pe-3 pb-3">
	<div id="mobileLogo" class="mobileLogoText">
	    <span class="HRSS_ss04">DFR</span>
	</div>
    </div>
</div>

<div id="navbarNav" class="collapse navbar-collapse 
    align-items-start justify-content-start justify-content-md-between noOutline">

    <div class="navbar-nav align-items-md-start text-center">
	<a class="nav-link d-flex justify-content-start ps-0" href="/">Home</a>
	<a class="nav-link d-flex justify-content-start ps-0" 
	    href="/about">About</a>
    </div>

    <div id="brand" class="d-none d-md-flex align-items-center justify-content-center">
	<div id="mainLogo" class="d-flex align-items-start justify-content-center" >
	    <div class="logoText text-center">
		<span class="HRSS_ss05">DRY FArm raNch</span>
	    </div>
	</div>
    </div>

    <div class="navbar-nav d-flex align-items-md-start text-center">
	<div class="nav-link d-none d_md-flex hidden">Empty</div>

	<% if (currentUser || (cookie.DFR === 'Cookie')) { %>
	    <%- include ('./navbarItems/demo.ejs') %>
        <% } else { %>
            <a class="nav-link pe-0 hidden" href="demo/login">Login</a>
	    <a class="nav-link" pe-0 href="/demo/clearCookies">Clear Cookies</a>
	<% } %>
    </div>	<!-- navbar-nav -->
</div>

</div>
</nav>


<div class="brclear"></div>

