<%- /*include ('analytics.ejs');*/ %>

<nav id="mainNavBar" class="navbar sticky-top m-0 pb-2 navbar-expand-md navbar-light bg-light">
<div class="container-fluid">

<!-- Mobile navigation -->
<div id="" class="w-100 d-md-none d-flex flex-row align-items-start justify-content-center">
    <div class="mobileLogoText"><span class="HRSS_ss04">DFR</span></div>
</div>

<div id="navbarNav" class="collapse navbar-collapse 
    align-items-start justify-content-center noOutline">
    <div id="brand" class="d-none d-md-flex align-items-start justify-content-center">
    <div class="navbar-brand d-flex align-self-center p-0 m-0">
	<div class="logoText text-center">
	    <span class="HRSS_ss05">DRY FArm raNch</span>
	</div>
    </div>
    </div>
</div>

</div>
</nav>

<div class="brclear"></div>

