<div class="d-flex justify-content-center justify-content-md-end m-0 p-0">
    <a class="p-2 nextPrev" href="/feed/next/<%=event.order%>">Later</a>
    <a class="p-2 nextPrev" href="/feed/prev/<%=event.order%>">Earlier</a>
</div>
