<div class="col-12 d-flex justify-content-center justify-content-lg-start text-center m-0 p-2">
<ul>
    <li>
        <div class="donate mt-3">
        <a class="" target="_blank" href="http://www.nationalparks.org/" target="_blank">
            Donate to NPF!</a>
        </div>
    </li>
</ul>
</div>
